body {
    margin: 0;
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
    color: #000;
}

header {
    background-color: #15BFD2;
    color: #000;
    padding: 10px 40px 0 40px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.logo-section {
    text-align: left;
}

.logo {
    font-family: "Rochester", cursive;
    font-weight: 400;
    font-style: italic;
    color: #fff;
    font-size: 48px;
}

.subtitle {
    font-family: "Rochester", cursive;
    font-weight: 400;
    font-style: italic;
    color: #fff;
    font-size: 24px;
}

nav {
    display: flex;
    gap: 25px;
    align-items: flex-end;
    padding-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    position: relative;
    transition: color 0.3s;
    font-family: "Rochester", cursive;
    font-weight: 400;
    font-style: italic;
}

nav a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    max-width: 900px;
    margin: 40px auto;
    padding: 0 16px;
    line-height: 1.6;
}

h1 {
    font-family: "Rochester", cursive;
    font-weight: 400;
    font-style: italic;
    font-size: 48px;
    margin-bottom: 25px;
}

h2 {
    font-family: "Rochester", cursive;
    font-weight: 400;
    font-style: italic;
    font-size: 35px;
    margin: 0 0 24px;
    margin-bottom: 15px;
}

h3 {
    font-family: "Rochester", cursive;
    font-weight: 400;
    font-style: italic;
    font-size: 25px;
    margin: 24px 0 8px;
    margin-bottom: 15px;
}

p {
    margin-bottom: 12px;
    line-height: 1.6; }

ol, ul { 
    margin: 12px 0 24px 20px; 
}

li { 
    margin-bottom: 6px; 
}

footer {
    background-color: #15BFD2;
    text-align: center;
    padding: 12px 0;
    font-size: 14px;
    margin-top: auto;
}

.tips ol {
  counter-reset: item;
  margin: 16px 0 32px 22px;
  padding: 0;
}

.tips li {
  margin: 18px 0 28px;
}

.tips li p {
  margin: 8px 0 10px;
  line-height: 1.6;
}

.tip-photo {
  width: 100%;
  aspect-ratio: 1400 / 350;
  object-fit: cover;     
  object-position: 50% 35%;
  border-radius: 10px;
  display: block;
}

/* telefoni jaoks kui otsustame et on vajalik */
@media (max-width: 700px) {
  .header-content {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    align-self: flex-end;
    padding-top: 10px;
  }
}